
.contact-text {
  text-align: left;
  margin: 15px 20px 50px 20px;
}
body {
  text-align: center;
}
.submit-button {
  background-color: white;
  color: black;
  font-size: 1.3em;
  margin: 50px auto;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: 5px 5px #8080802b;
  transition: all 0.5s;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #d7ecd7;
}
.success-message {
  text-align: center;
  display: none;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: rgba(51, 255, 0, 0.774);
  margin: 10px auto;
  border: 1px solid black;
  padding: 5px 25px;
  border-radius: 30px;
}
.success-message > * {
  margin: 15px auto;
}
.thumbs-up {
  margin: auto;
  font-size: 1.5em;
}
@media (min-width: 700px) {
  .success-message {
    margin: 30px auto;
  }
  .contact-text {
    font-size: 1.4em;
    max-width: 700px;
    margin: 15px auto 70px auto;
  }
  .submit-button {
    padding: 15px 55px;
    font-size: 1.7em;
    margin: 45px auto;
  }
  .submit-button:hover {
    padding: 15px 75px;
  }
}
