section {
  text-align: center;
}

.post-img {
  width: 94%;
  margin: 0px 3% 10px 3%;
  /* max-width: 300px; */
  /* height: 200px; */
  transition: 0.3s;
}
.post-img:hover {
  cursor: pointer;
  opacity: 0.7;
}
.details-image {
  text-align: center;
}

.details-container {
  text-align: left;
}

.details-container p {
  font-style: normal;
}
/* 
.details-header {
  font-family: agenda, alegreya, Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 1.7em;
  text-align: center;
} */

h2,
p {
  text-align: left;
  margin: 10px 20px;
}
h2 {
  font-size: 1.3em;
}

p {
  font-size: 1em;
}

ul {
  text-align: left;
}

/* 
Author info
*/

.author-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;

  /* margin: 10px; */
}

.author-info {
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
}
.author-info p {
  font-size: 0.7em;
  margin: auto 10px;
}
.author-info div {
  display: flex;
}

/*
next and previous post
*/

.hover-style:hover {
  background-color: #d9d3cb;
}

.next-previous {
  height: 60px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.next-post,
.previous-post {
  color: black;
  font-size: 1em;
  height: 100%;
  width: 100px;
  background-color: #a9a9a927;
  border-radius: 20px;
  border: 1px solid black;
}

.next-container,
.previous-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
  gap: 1px;
  color: black;
  height: 100%;
  width: 100%;
}

/* .next-post:hover,
.previous-post:hover {
  background-color: #d6d6d5;
} */

.next-header {
  margin: 3px auto;
  font-size: 0.7em;
  height: 25%;
}

.next-title {
  margin: 2px 0px;
  width: 55px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.title-and-arrow {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin: 30px 5%;
}

.next-previous p {
  font-size: 0.55em;
}
.no-more-posts {
  text-align: center;
  width: 70px;
  text-decoration: none;
  font-size: 0.5em;
}

.fa-arrow-circle-right,
.fa-arrow-circle-left {
  margin: 2px 5;
}

/*
Comment Section 
*/
/* .comment-amount {
  margin: 30px 20px;
} */
.leave-comment {
  margin: 20px auto;
  text-decoration: none;
}

.be-the-first-to-comment {
  margin: 30px 20px;
}

.comment-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 60px 20px;
  padding: 10px;
  text-align: left;
  background-color: #a9a9a927;
  border: 1px solid #707070;
}

.comment-form > * {
  margin: 5px;
}

.submit-button {
  background-color: white;
  color: black;
  font-size: 1em;
  font-weight: normal;
  margin: 20px auto;
  border: 1px solid black;
  padding: 15px 25px;
  border-radius: 25px;
}
.submit-button:hover {
  cursor: pointer;
  background-color: #d7ecd7;
}

.comment-container label {
  margin: 5px 5px 5px 5px;
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  font-weight: 700;
  font-style: italic;
  display: flex;
}

#comment {
  height: 55px;
}
#name,
#email {
  height: 50px;
}

.comment-form input[type="text"],
.comment-form textarea[type="textarea"] {
  font-size: 1.1em;
  /* font-family: "Times New Roman", Times, serif; */
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  box-sizing: border-box;
}

.user-comment-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(185, 191, 189);
  text-align: left;
}
.comment-date {
  font-size: 0.9em;
  margin: 10px;
  font-style: normal;
}
.user-comment-top {
  margin: 10px 5px 0px 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment-content {
  margin: 20px;
}

.error-message {
  color: red;
  display: none;
  margin: 10px 2px;
}

.success-message {
  display: none;
  background-color: rgba(51, 255, 0, 0.774);
  margin: 10px auto;
  border: 1px solid black;
  padding: 5px 25px;
  border-radius: 30px;
}
/* Modal */

.modal-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  transition: 0.5s ease-out;
}

.visible {
  display: flex;
}

.modal-img {
  position: absolute;
  left: 0%;
  top: 25%;
  width: 90%;
  /* height: 250px; */
  margin: 0px 5%;
}

@media (min-width: 700px) {
  h3 {
    font-size: 1em;
    margin: 5px;
  }
  .breadcrumbs {
    font-size: 1.7em;
    gap: 7px;
  }
  h2 {
    font-size: 2em;
    margin: 30px 20px;
  }
  .details-container {
    margin: 30px;
  }
  .details-container p {
    font-size: 1.6em;
    margin: 30px auto;
  }
  .author-info {
    margin: 40px 3%;
  }
  .author-img {
    height: 80px;
    width: 80px;
  }
  .author-info p {
    font-size: 1.6em;
  }
  .details-container ul {
    font-size: 1.6em;
    margin: 5px 3%;
  }
  .next-previous {
    height: 136px;
  }
  .next-post,
  .previous-post {
    border: 2px solid black;
    height: 130px;
    width: 200px;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
  }
  .next-container p,
  .previous-container p {
    font-size: 1.2em;
  }
  .fa-arrow-circle-left,
  .fa-arrow-circle-right {
    font-size: 2.2em;
  }
  .next-title {
    font-size: 1em;
  }
  .no-more-posts {
    font-size: 1.2em;
    width: 150px;
  }

  .comment-container h3 {
    font-size: 1.5em;
  }
  .divider {
    margin: 45px 5%;
  }

  /* 
  Comments
  */
  .comment-container label {
    font-size: 1.7em;
  }
  #comment,
  #name,
  #email {
    padding: 7px;
  }
  .submit-button {
    padding: 25px 45px;
    font-size: 1.5em;
  }

  .user-comment-container h3 {
    font-size: 1.7em;
    margin: 20px;
  }
  .user-comment-container p {
    font-size: 1.4em;
  }
  .comment-content {
    max-width: 95%;
    margin: 20px auto 20px 20px;
  }

  .next-header {
    font-size: 1.3em;
    margin: 10px auto;
  }
  .next-title {
    width: 100%;
    text-align: center;
  }
  .title-and-arrow {
    margin: 0px 5px;
    gap: 15px;
  }

  .fa-arrow-circle-left,
  .fa-arrow-circle-right {
    margin: auto;
  }
  .user-comment-container {
    margin: 45px 20px;
  }
}

@media (min-width: 1000px) {
  .comment-name {
    text-decoration: none;
  }
  .post-img {
    max-width: 950px;
  }
  .details-container {
    max-width: 950px;
    margin: 20px auto 50px auto;
  }
  .details-container > * {
    margin: 0px;
  }
  .author-info {
    max-width: 950px;
    margin: auto;
  }
  .next-previous {
    max-width: 950px;
    margin: 70px auto;
  }
  .divider {
    max-width: 950px;
    margin: 45px auto;
  }
  .comment-section {
    max-width: 950px;
    margin: auto;
  }
  .modal-content {
    max-width: 1200px;
  }
  /* .modal-img {
    position: relative;
    margin: 200px auto;
    width: 100%;
    /* top: 15%;
    left: 5%;
    max-width: 1100px;
    max-height: 1100px; */

  .modal-img {
    width: 100%;
    position: static;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 200px auto;
  }
  .visible {
    justify-content: center;
  }
}
