body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:focus {
  outline: 1px solid black;
  outline-style: solid;
}

/* Header and Nav */

.logo {
  text-decoration: none;
  margin: auto 10px;
  color: black;
  font-family: "yellowtail", "Bebas Neue", cursive;
  font-size: 1.4em;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #d7ecd7;
}

header {
  background-color: #d7ecd7;
  /* background-color: #d7ecd7;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center; */
  width: 100%;
}

.header-container {
  background-color: #d7ecd7;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.far {
  margin: 15px;
  font-size: 1.7em;
  text-align: center;
}
.fa-bars {
  margin: 15px 18px 15px 15px;
  font-size: 1.7em;
  text-align: center;
}

.fa-bars:hover,
.far:hover {
  cursor: pointer;
}

.nav-menu a {
  text-decoration: none;
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: bold;
  color: black;
  padding: 10px;
  font-size: 1.2em;
}

.nav-menu a:hover,
.logo:hover,
.breadcrumbs-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.nav-menu li {
  list-style: none;
  margin: 12px auto;
  padding: 2px;
  position: relative;
}
.nav-menu {
  display: flex;
  flex-flow: column wrap;
  height: 180px;
  position: absolute;
  padding: 0px;
  top: -150px;
  z-index: 1;
  background-color: #d7ecd7;
  width: 100%;
  transition: all 0.3s ease-in;
}
/* .fa-times-circle {
  display: none;
} */

.opacity {
  cursor: default !important;
  opacity: 0.4;
}
.nav-active {
  border: 2px solid black;
  border-radius: 10px;
}

h1 {
  font-size: 1.5em;
  font-family: "charm", sans-serif, Arial, Helvetica;
  margin: 15px auto;
  text-align: center;
}
/* 
Breadcrumbs
*/
.fa-home {
  margin-right: 6px;
}
.breadcrumbs {
  font-family: merrriweather, sans-serif, Arial, Helvetica;
  font-style: italic;
  display: flex;
  text-align: left;
  margin: 10px 0px 0px 20px;
}

.breadcrumbs a,
.breadcrumbs p {
  margin: 0px 7px;
  color: black;
}
.crumb {
  font-size: 0.8em;
  font-weight: normal;
}

.breadcrumbs-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
}

.active-page {
  font-size: 0.8em;
}

/*
 welcome section 
*/

.welcome {
  display: flex;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  height: 250px;

  background: url("../pictures/welcome-img.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.welcome__text {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.75em;

  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 120px;
  max-width: 170px;
}

.welcome-message {
  height: 250px;
}

.welcome-message img {
  width: 100%;
  height: 250px;
}

.welcome-message a {
  text-align: center;
  margin: 0px;
  text-decoration: none;
}

.message-text {
  text-align: center;
  position: absolute;
  font-size: 0.6em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 120px;
  max-width: 150px;
}

/* 
posts container 
*/
h2 {
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: 400;
}

.post-section {
  text-align: center;
}
.carousel-container {
  overflow: hidden;
  height: 380px;
}

.posts-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  position: relative;
  transition: transform 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  width: 100%;
  margin: auto;
}

.post-container__page-container {
  color: black;
  border-radius: 5px;
  width: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.post:hover {
  background-color: #cecece;
}

.post {
  border: 2px solid black;
  border-radius: 20px;
  height: 170px;
  margin: 10px 7px;
  color: black;
  background-color: #f9f8f8;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.posts__page-of {
  font-style: normal;
}
h3 {
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: 500;
  margin: 8px 3px 5px 3px;
  height: auto;
}

.author-info {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.author-info p {
  font-size: 0.6em;
  font-style: italic;
}

.post-intro p {
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 40px;
  margin: 0px 15px;
  text-align: left;
  font-size: 0.7em;
}

.link-text {
  font-weight: bold;
  margin: 5px;
  text-align: right;
  font-size: 0.8em;
  margin: 0px 5px 0px auto;
  text-decoration: underline;
}
.fa-arrow-right {
  margin: auto 10px;
  font-size: 1em;
}
/* 
Posts Navigation
*/

.post-navigation {
  display: flex;
  margin: 5px auto;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.navigation-pages {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.navigation-pages p {
  margin: 0px 5px;
}
.previous-page,
.next-page,
.navigation-pages,
.fa-arrow-circle-up {
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
.previous-page,
.next-page {
  transition: all 0.4s;
}
.next-page:hover,
.previous-page:hover {
  cursor: pointer;
}

/*
Get Involved Section
*/
.get-involved-section {
  height: 280px;
  text-align: center;
  background-image: url("../pictures/get-involved.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.get-involved-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 0.75em;
  color: white;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 150px;
  max-width: 246px;
  height: 132px;
  margin: auto;
}

/*
Footer
*/

footer {
  border-top: 1px solid black;
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #d7ecd7;
  margin-top: auto;
  text-align: center;
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  color: black;
}
.footer-top {
  display: flex;
  margin: 20px;
}
.to-the-top {
  border: 2px solid black;
  position: fixed;
  right: -140px;
  bottom: 120px;
  z-index: 2;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  transition: all 0.7s ease;
  box-shadow: 8px 8px 5px #aaaaaa;
}
.fa-arrow-circle-up {
  color: #222cff;
  margin: 0;
}
.to-the-top:hover {
  cursor: pointer;
}
.to-the-top p {
  display: none;
}
.footer-top h4 {
  position: absolute;
  margin: 20px auto;
}
footer h3,
.copyright {
  margin: 0px;
  padding: 10px 0px;
}
.copyright {
  opacity: 0.9;
  padding: 20px;
}

.social-media-icons {
  margin: 20px auto;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}
.fa-instagram {
  background-color: #fff0 !important;
}
.fa-instagram {
  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff0 !important;
}
.footer-disclaimer {
  font-size: 0.7em;
  margin: 10px;
}

/* 
Global styles
*/

/* Error message when fetching */
.error {
  border: 1px solid black;
  margin: 20px auto;
  background-color: #ff0000cf;
  color: black;
  border-radius: 5px;
  max-width: 200px;
}

/* inputs*/

.input-error-border-red {
  border: 1px solid red;
}

.comment-form,
#contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 80px 20px;
  padding: 10px;
  max-width: 600px;
}
.comment-form {
  background-color: #a9a9a912;
  border: 1px solid #707070;
  padding: 30px 10px 10px 10px;
}

.container-large-inputs,
.container-small-inputs,
.container-for-form-inputs {
  display: flex;
  flex-direction: column;
  margin: auto;
}

label {
  display: flex;
  margin: 5px 5px 5px 0px;
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  font-weight: 700;
  font-style: italic;
  display: flex;
}
input {
  border: 1px #707070 solid;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  height: 35px;
}
#name,
#email {
  height: 35px;
  max-width: 250px;
}

#message,
#comment,
#subject {
  padding-bottom: 75px;
  margin-bottom: 5px;
  max-width: 350px;
}

#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea[type="text"],
.comment-form input[type="text"],
.comment-form textarea[type="textarea"] {
  font-size: 1.1em;
  font-family: Merriweather, sans-serif, Arial, Helvetica;

  box-sizing: border-box;
}
.required {
  margin: 3px 0px 0px 5px;
  color: red;
}

p {
  font-family: Merriweather, sans-serif, Arial, Helvetica;
}

.error-message {
  font-weight: normal;
  font-size: 0.8em;
  color: red;
  margin: 5px 0px;
  text-align: left;
  display: none;
}

/* loader  */
.loader-container {
  height: 100vh;
}
.loader {
  margin: 30px auto 30px auto;
  border: 10px solid #d6d3d3;
  border-top: 10px solid rgb(0, 0, 0);
  border-bottom: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 622px) {
  #contact-form,
  .comment-form {
    margin: 20px auto 80px;
  }
}

@media (min-width: 700px) {
  .error {
    max-width: 650px;
    margin: auto;
  }
  .error-message {
    font-size: 0.9em;
  }

  #contact-form label,
  .comment-form label {
    font-size: 1.3em;
  }

  #name,
  #email {
    max-width: none;
    width: 270px;
  }
  #comment,
  #subject,
  #message {
    width: 350px;
  }
  .breadcrumbs {
    font-size: 1.7em;
    gap: 7px;
  }
  .logo {
    font-size: 2.4em;
    padding: 10px;
    margin-left: 10px;
  }
  .nav-menu a {
    font-size: 1.4em;
    padding: 10px;
    margin: auto 0px;
  }
  .nav-menu {
    /* top: 73px; */
    height: 200px;
    justify-content: center;
    gap: 10px;
    margin: 0px;
  }

  .fa-bars,
  .far {
    font-size: 2.7em;
  }
  h2 {
    font-size: 2.1em;
  }
  .welcome {
    height: 400px;
  }
  .welcome__text {
    padding: 5px 50px;
    min-width: 250px;
    max-width: 300px;
  }

  .welcome__text p,
  .get-involved-text p {
    font-size: 1.3em;
    margin: 40px auto;
  }
  .post {
    height: 200px;
    margin: 15px 20px;
  }
  h3 {
    font-size: 1.4em;
  }
  .author-info p {
    font-size: 1em;
  }
  .author-info {
    justify-content: space-between;
    margin: 0px 15px;
  }
  .post-intro p {
    font-size: 1em;
    height: 56px;
  }
  .carousel-container {
    height: 460px;
  }
  .link-text {
    font-size: 1.3em;
    margin-right: 20px;
    font-style: italic;
  }
  .previous-page,
  .navigation-pages,
  .next-page,
  .fa-arrow-circle-up {
    font-size: 1.9em;
  }
  .post-navigation {
    margin: 20px auto;
  }
  .get-involved-section {
    height: 400px;
  }
  .get-involved-text {
    padding: 5px 50px;
    min-width: 250px;
    max-width: 300px;
    height: 250px;
  }
  h1 {
    font-size: 3em;
    margin: 40px auto;
  }
  .to-the-top {
    height: 70px;
    width: 100px;
    bottom: 100px;
    border: 2px solid black;
    position: fixed;
    right: -140px;
    /* bottom: 120px; */
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: azure;
    border-radius: 10px;
    transition: all 0.7s ease;
    box-shadow: 8px 8px 5px #aaaaaa;
  }
  .to-the-top p {
    display: block;
    font-size: 0.9em;
    font-style: normal;
    margin: 0px;
    font-size: 0.7em;
  }
}

@media (min-width: 1000px) {
  .container-large-inputs,
  .container-small-inputs,
  .container-for-form-inputs {
    width: 500px;
  }
  #name,
  #email {
    width: 350px;
  }
  #contact-form textarea {
    max-width: none;
  }
  #subject,
  #comment,
  #message {
    max-width: none;
    width: 500px;
  }
  .error-message {
    font-size: 1.2em;
  }
  .breadcrumbs {
    max-width: 1150px;
    margin: 20px auto;
    font-size: 1.6em;
    gap: 5px;
    padding: 5px 20px;
  }
  header {
    display: flex;
    height: 90px;
  }
  .header-container {
    width: 1150px;
    gap: 50px;
    margin: auto;
  }
  .logo {
    width: 300px;
    margin-left: 0px;
    padding: 5px;
    text-align: left;
  }
  .nav-menu {
    gap: 5px;
    display: flex !important;
    position: static;
    flex-direction: row;
    z-index: auto;
    height: auto;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  nav {
    width: 300px;
    height: 100%;
    /* width: 1150px; */
    margin: auto;
  }
  .welcome {
    max-width: 1150px;
    margin: auto;
    height: 500px;
  }
  .post-section {
    max-width: 1150px;
    margin: auto;
  }
  .previous-page,
  .navigation-pages,
  .next-page,
  .fa-arrow-circle-up {
    font-size: 2.1em;
  }
  .get-involved-section {
    height: 450px;
    max-width: 1150px;
    margin: auto;
  }
}

/* */
.ham-container {
  width: 70px;
  height: 60px;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
  /* background-color: black; */
  /* padding: 25px; */
  margin: auto 10px;
}
.ham-container:hover {
  cursor: pointer;
}

.ham-line {
  opacity: 1;
  transition: all 0.3s;
  height: 6px;
  width: 45px;
  background-color: black;
  border-radius: 10px;
}

.ham-line-one {
  position: absolute;
  top: 20%;
}
.ham-line-two,
.ham-line-three {
  position: absolute;
  top: 46%;
}
.ham-line-four {
  position: absolute;
  top: 72%;
}

.rotate-two {
  transform: rotate(-45deg);
}
.rotate-three {
  transform: rotate(45deg);
}
.opacity-two {
  opacity: 0;
}
