body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
:focus {
  outline: 1px solid black;
  outline-style: solid;
  border-radius: 10px;
}

/* Header and Nav */

.logo {
  text-decoration: none;
  margin: auto 10px;
  color: black;
  font-family: "yellowtail", "Bebas Neue", cursive;
  /* padding: 10px; */
  font-size: 1.4em;
  /* text-decoration: underline;
  text-decoration-style: dotted; */
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

header {
  background-color: #d7ecd7;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-bars,
.far {
  margin: 15px;
  /* padding: 10px; */
  font-size: 1.7em;
  text-align: center;
}

.fa-bars:hover,
.far:hover {
  cursor: pointer;
}

.nav-menu a {
  text-decoration: none;
  /* font-family: "Charm", cursive, Arial, Helvetica, sans-serif; */
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: bold;
  color: black;
  padding: 10px;
  font-size: 1.2em;
}

.nav-menu a:hover,
.logo:hover,
.breadcrumbs-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

nav li {
  list-style: none;
  margin: 12px auto;
  padding: 2px;
  position: relative;
}
.nav-menu {
  display: flex;
  flex-flow: column wrap;
  height: 180px;
  position: absolute;
  padding: 0px;

  top: 41px;

  z-index: 1;
  background-color: #d7ecd7;
  width: 100%;
  transition: transform 0.3s ease-in;
}
.fa-times-circle {
  display: none;
}
.opacity {
  opacity: 0.4;
}
.nav-active {
  /* text-decoration: underline; */
  border: 2px solid black;
  border-radius: 10px;
}

/* .opacity-container {
  background-color: rgba(0, 0, 0, 0.336);
} */

h1 {
  /* font-family: source sans pro, sans-serif, Arial, Helvetica; */
  font-size: 1.5em;
  font-family: "charm", sans-serif, Arial, Helvetica;
  margin: 15px auto;
  text-align: center;
}
/* 
Breadcrumbs
*/
.fa-home {
  margin-right: 6px;
}
.breadcrumbs {
  /* font-family: Georgia, "Times New Roman", Times, serif; */
  font-family: Merriweather, sans-serif, Arial, Helvetica;

  display: flex;
  text-align: left;
  margin: 10px 0px 0px 20px;
}

.breadcrumbs a,
.breadcrumbs p {
  margin: 0px 7px;
  color: black;
}
.crumb {
  font-size: 0.8em;
  font-weight: normal;
}

.breadcrumbs-link {
  font-weight: bold;
  text-decoration: none;
  font-size: 0.8em;
}

.active-page {
  /* font-weight: bold; */
  font-size: 0.8em;
}

/*
 welcome section 
*/

.welcome {
  display: flex;
  font-weight: normal;
  justify-content: center;
  align-items: center;
  height: 250px;

  background: url("../pictures/welcome-img.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.welcome__text {
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 0.75em;

  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 120px;
  max-width: 170px;
}

.welcome-message {
  height: 250px;
}

.welcome-message img {
  width: 100%;
  height: 250px;
}

.welcome-message a {
  /* position: absolute; */
  text-align: center;
  margin: 0px;
  text-decoration: none;
}

.message-text {
  text-align: center;
  position: absolute;
  font-size: 0.6em;
  font-weight: bold;
  text-decoration: none;
  color: white;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 120px;
  max-width: 150px;
}

/* 
posts container 
*/
h2 {
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: 400;
}

/* .post-section {
  background-color: #ececec;
  text-align: center;
  overflow: auto;
  white-space: nowrap;
  height: 330px;
} */
.post-section {
  text-align: center;
  /* height: 600px; */
}
.carousel-container {
  overflow: hidden;
  height: 380px;
  /* width: 100%; */
}

.posts-container {
  display: flex;
  flex-direction: row;

  height: 100%;
  justify-content: center;
  position: relative;
  /* transition: transform 0.4s ease-in; */

  transition: transform 0.6s cubic-bezier(0.55, 0.09, 0.68, 0.53);
  width: 100%;
  /* overflow: hidden; */
  margin: auto;
}

.post-container__page-container {
  /* padding: 10px; */
  color: black;
  border-radius: 5px;
  /* width: 90%;
  margin: 0px 5%; */
  width: 100%;

  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.post:hover {
  background-color: #cecece;
}

.post {
  border: 2px solid black;
  border-radius: 20px;
  height: 170px;
  /* width: 145px; */
  margin: 10px 7px;
  color: black;
  background-color: #f9f8f8;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

.posts__page-of {
  font-style: normal;
}
h3 {
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  font-weight: 500;
  margin: 8px 3px 5px 3px;
  /* font-size: 1em; */
  height: auto;
  /* line-height: 90%; */
}

.author-info {
  display: flex;
  justify-content: space-around;
  height: auto;
}

.author-info p {
  font-size: 0.6em;
  /* margin: 10px; */
}

.post-intro p {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 42px;
  margin: 0px 15px;
  text-align: left;
  font-size: 0.7em;
}

/* TRY NEW
*/
/* .post-intro h4 {
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  height: 40px;
  margin: 0px 15px;
  text-align: left;
  font-size: 0.7em;
  font-weight: normal;
}

.post-intro p,
.post-intro h2 {
  display: none !important;
} */

/* */

.link-text {
  /* width: 90%; */
  font-weight: bold;
  margin: 5px;
  text-align: right;
  font-size: 0.8em;
  margin: 0px 5px 0px auto;
  text-decoration: underline;
}
.fa-arrow-right {
  margin: auto 10px;
  font-size: 1em;
}

/* .post-intro p {
  height: 50px;
  overflow: visible;
  white-space: normal;
  text-overflow: ellipsis;
  margin: 10px auto;
} */

/* 
Posts Navigation
*/

.post-navigation {
  display: flex;
  margin: 5px auto;
  text-align: center;
  justify-content: center;
  gap: 30px;
}

.navigation-pages {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.navigation-pages p {
  margin: 0px 5px;
}
.previous-page,
.next-page,
.navigation-pages,
.fa-arrow-circle-up {
  font-size: 1.4em;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
}
.previous-page,
.next-page {
  transition: all 0.4s;
}
.next-page:hover,
.previous-page:hover {
  cursor: pointer;
}

/*
Get Involved Section
*/
.get-involved-section {
  /* position: relative; */
  height: 280px;
  text-align: center;
  background-image: url("../pictures/get-involved.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
}

.get-involved-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 0.75em;
  color: white;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  min-width: 150px;
  max-width: 246px;
  height: 132px;
  margin: auto;
}

/*
Footer
*/

footer {
  border-top: 1px solid black;
  /* padding: 15px; */
  width: 100%;
  position: relative;
  bottom: 0;
  background-color: #d7ecd7;
  margin-top: auto;
  text-align: center;
  font-family: source sans pro, sans-serif, Arial, Helvetica;
  color: black;
}
.footer-top {
  display: flex;
  margin: 20px;
}
.to-the-top {
  border: 2px solid black;
  position: fixed;
  right: -140px;
  bottom: 120px;
  z-index: 2;
  /* border: 1px solid black; */
  width: 75px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  transition: all 0.7s ease;
  box-shadow: 8px 8px 5px #aaaaaa;

  /* position: absolute;
  margin: 20px;
  right: 10%;
  bottom: 20px; */
}
.fa-arrow-circle-up {
  color: #222cff;
  margin: 0;
}
.to-the-top:hover {
  cursor: pointer;
}
.to-the-top p {
  font-style: normal;
  margin: 0px;
  font-size: 0.7em;
}
.footer-top h4 {
  position: absolute;
  margin: 20px auto;
}
footer h3,
.copyright {
  margin: 0px;
  padding: 10px 0px;
}
.copyright {
  opacity: 0.9;
  padding: 20px;
}

.social-media-icons {
  margin: 20px auto;
  font-size: 1.7em;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.fa-facebook {
  color: #3b5998;
}

.fa-twitter {
  color: #00acee;
}
.fa-instagram {
  background-color: #fff0 !important;
}
.fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #fff0 !important;
}
.footer-disclaimer {
  font-size: 0.7em;
  margin: 10px;
}

/* 
Global styles
*/

/* inputs*/
.comment-form, #contact-form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 20px 80px 20px;
  padding: 10px;
  /* background-color: #a9a9a927; */
  background-color: #a9a9a912;
  border: 1px solid #707070;
}

label {
  display: flex;
  margin: 5px 5px 5px 0px;
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  font-weight: 700;
  font-style: italic;
  display: flex;
}
input {
  border: 1px #707070 solid;
  width: 270px;
  margin: 0px 0px 10px 0px;
  padding: 5px;
  height: 35px;
}
#name,
#email {
  height: 35px;
  /* width: 75%;
  max-width: 300px;
  margin: 5px 5%; */
}


#message, #comment {
  padding-bottom: 75px;
  margin-bottom: 5px;
  width: 270px;
}
#comment {
  height: 105px;
}
#contact-form input[type="text"],
#contact-form input[type="email"],
#contact-form textarea[type="text"], 
.comment-form input[type="text"],
.comment-form textarea[type="textarea"] {
  font-size: 1.1em;
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  box-sizing: border-box;
}




.required {
  margin: 3px 0px 0px 5px;
  color: red;
}

p {
  font-family: Merriweather, sans-serif, Arial, Helvetica;
  font-style: italic;
}

.error-message {
  font-weight: normal;
  font-size: 0.8em;
  color: red;
  margin: 5px 0px;
  text-align: left;
  display: none;
}

/* @media (min-width: 900px) {
  nav ul {
    max-width: 1200px;
    justify-content: center;
    margin: 0px auto;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }
} */

/* @media (min-width: 392px) {
  .posts-container {
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
} */

/*
test posts
*/

/* loader  */
.loader-container {
  height: 100vh;
}
.loader {
  margin: 30px auto 30px auto;
  border: 10px solid #d6d3d3;
  border-top: 10px solid rgb(0, 0, 0);
  border-bottom: 10px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1.7s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.show {
  animation: showPost 1s;
}

@keyframes showPost {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (min-width: 700px) {
  .breadcrumbs {
    font-size: 1.7em;
    gap: 7px;
  }
  .logo {
    font-size: 2.4em;
    padding: 10px;
    margin-left: 10px;
  }
  .nav-menu a {
    font-size: 1.4em;
    padding: 10px;
    margin: auto 0px;
  }
  .nav-menu {
    top: 73px;
    height: 200px;
    justify-content: center;
    gap: 10px;
    margin: 0px;
  }

  .fa-bars,
  .far {
    font-size: 2.7em;
  }
  h2 {
    font-size: 2.1em;
  }
  .welcome {
    height: 400px;
  }
  .welcome__text {
    padding: 5px 50px;
    min-width: 250px;
    max-width: 300px;
  }

  .welcome__text p,
  .get-involved-text p {
    font-size: 1.3em;
  }

  .post-container__page-container {
    /* width: 92%;
    margin: 0px 4%;
    width: 92%;
    margin: 0px 4%; */
  }
  .post {
    height: 200px;
    margin: 15px 20px;
  }
  h3 {
    font-size: 1.3em;
  }
  .author-info p {
    font-size: 1em;
  }
  .author-info {
    justify-content: space-between;
    margin: 0px 15px;
  }
  .post-intro p {
    font-size: 1em;
    height: 60px;
  }

  .carousel-container {
    height: 460px;
  }
  .link-text {
    font-size: 1.2em;
    margin-right: 20px;
  }
  .previous-page,
  .navigation-pages,
  .next-page,
  .fa-arrow-circle-up {
    font-size: 1.9em;
  }
  .post-navigation {
    margin: 20px auto;
  }
  .get-involved-section {
    height: 400px;
  }
  .get-involved-text {
    padding: 5px 50px;
    min-width: 250px;
    max-width: 300px;
    height: 250px;
  }

  h1 {
    font-size: 3em;
    margin: 40px auto;
  }
  .to-the-top {
    height: 70px;
    width: 100px;
    bottom: 100px;
  }
  .to-the-top p {
    font-size: 0.9em;
  }
}

@media (min-width: 1000px) {
  /* .nav-active {
    border: none;
    text-decoration: underline;
  } */
  /* .to-the-top {
    right: 25%;
  } */
  .breadcrumbs {
    max-width: 1150px;
    margin: 20px auto;
    font-size: 1.6em;
    gap: 5px;
    padding: 5px 20px;
  }

  header {
    height: 90px;
  }
  .logo {
    width: 500px;
    margin-left: 0px;
    padding: 0px;
    text-align: left;
  }
  .nav-menu {
    display: flex !important;
    position: static;
    flex-direction: row;
    z-index: auto;
    height: auto;
    align-items: center;
  }
  .hamburger {
    display: none;
  }
  nav {
    height: 100%;
    width: 1150px;
    margin: auto;
  }
  .welcome {
    max-width: 1150px;
    margin: auto;
    height: 500px;
  }
  .post-section {
    max-width: 1150px;
    margin: auto;
  }
  /* posts */
  .carousel-container {
    height: 670px;
  }

  .post-container__page-container {
    width: 100%;
    margin: auto;
  }
  .post {
    height: 300px;
  }

  h3 {
    font-size: 1.6em;
    /* text-decoration: underline; */
  }
  .post-intro p {
    font-size: 1.3em;
    height: 40%;
    -webkit-line-clamp: 4;
  }
  .author-info p {
    font-size: 1.3em;
  }
  .link-text {
    font-size: 1.4em;
    margin-right: 40px;
  }

  /* */
  .previous-page,
  .navigation-pages,
  .next-page,
  .fa-arrow-circle-up {
    font-size: 2.1em;
  }
  .get-involved-section {
    height: 450px;
    max-width: 1150px;
    margin: auto;
  }
}
