main {
  text-align: center;
}
.tips-intro {
  margin: 20px 20px 60px 20px;
}
.tips-section {
  margin: 40px 10px;
  background-color: #d9d7d736;

  border: 1px solid black;
  border-radius: 20px;
}

.tips__content {
  display: flex;
  gap: 15px;
  margin: 10px 15px;
}
.tips__heading {
  margin-bottom: 0px;
  font-weight: bold;
  font-style: italic;
}

.tips__bullet {
  display: flex;
  align-items: center;
  font-size: 3em;
  margin: 5px;
}
.tips__main-content {
  display: flex;
  align-items: center;
}

.divider {
  border: 1px solid black;
  width: 80%;
  color: black;
  margin: 25px auto 60px auto;
}

.tips__author-info {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.tips__author-info > * {
  margin: 5px 20px;
}

.tips__ending {
  margin: 30px auto 40px auto;
}

.last-container {
  margin: 50px auto;
}

@media (min-width: 700px) {
  .tips-intro {
    margin: 40px;
    font-size: 1.6em;
  }
  .tips__bullet {
    font-size: 5em;
  }
  .tips__content {
    margin: 15px 25px;
    font-size: 1.6em;
  }
  .tips__author-info {
    font-size: 1.5em;
    margin: 10px 25px;
  }
  .last-container {
    font-size: 1.6em;
  }
}
@media (min-width: 1000px) {
  .tips-section {
    max-width: 1050px;
    margin: 40px auto;
  }
  .tips {
    max-width: 800px;
    margin: auto;
    text-align: center;
  }
  .tips__author-info {
    max-width: 800px;
    margin: 20px auto;
  }
  .tips-intro {
    max-width: 700px;
    margin: 50px auto 90px auto;
  }
}
