main {
  text-align: center;
  margin-bottom: 75px;
}
.tips-intro {
  margin: 20px 20px 60px 20px;
}
.tips-section {
  margin: 40px 10px;
}
.tips-intro p {
  text-align: left;
}

.tips__heading {
  margin: 15px 15px 0px 15px;
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}
.tips__heading, .tips__content, .tips__author-info {
  text-align: left;
}

.tips__main-content {
  display: flex;
  margin: 0px 15px;
  text-align: left;
}

.divider {
  border: 1px solid black;
  width: 90%;
  color: black;
  margin: 25px auto 60px auto;
}

.tips__author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tips__author-info > * {
  margin: 5px 15px;
}

.tips__ending {
  margin: 30px auto 40px auto;
}

.more-tips-info {
  display: none;
  margin: 50px auto auto auto;
  font-size: 1.3em;
}
.show-more-btn {
  background-color: white;
  color: black;
  font-size: 1.3em;
  /* font-weight: bold; */
  margin: 50px auto;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 25px;
  box-shadow: 5px 5px #8080802b;
  transition: all 0.5s;
}

@media (min-width: 700px) {
  .tips-section {
    margin: 75px auto auto auto;
    max-width: 650px;
  }
  main {
    margin-bottom: 100px;
  }
 
  .tips-intro {
    max-width: 650px;
    margin: 40px auto;
    font-size: 1.6em;
  }
  .tips__heading {
    font-size: 1.3em;
    max-width: 650px;
    margin: auto;

  }
  .tips__main-content {
    margin: 10px auto;
    max-width: 650px;
    font-size: 1.2em;
  }
  .tips__author-info {
    font-size: 1.2em;
    margin: 5px auto;
    max-width: 650px;
  }
  .divider {
    max-width: 650px;
    width: 100%;
  }
  .more-tips-info {
    font-size: 1.6em;
  }
  .show-more-btn {
    padding: 25px 45px;
  }
  .show-more-btn:hover {
    cursor: pointer;
    background-color: #d7ecd7;
    padding: 25px 65px;
  
  }
}
@media (min-width: 1000px) {
  .tips-intro {
    margin: 50px auto 90px auto;
  }
}
